body { 
  font-family: sans-serif; 
  line-height: 1.6; 
  background: #f9f9f9; 
  margin: 0px;
}
header, footer{
  width: 100%;
  height: 125px;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1{
  color: #f9f9f9;
  font-size: 28px;
}
footer p{
  color: #f9f9f9;
}
main{
  padding: 10% 0;
}
p{
  font-size: 20px;
}
.card { 
  background: white; 
  padding: 30px; 
  max-width: 500px; 
  margin: auto; 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.gold-border { 
  border-top: 10px solid #d4af37; 
}
.blue-border { 
  border-top: 10px solid #3498db; 
}
.alert { 
  color: #c0392b; 
  font-weight: bold; 
  padding: 10px; 
  background: #fceae9; 
  border-radius: 5px; 
}